/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar.toggled {
    width: 0!important;
    overflow: hidden;
}

.sidebar .sidebar-brand img {
    width: 130px;
    height: auto;
}

.sidebar .sidebar-brand {
    height: 150px;
}

.container-signup .a-field_a1 .a-field__input {
    color: #fff;
    padding-right: 0;
}
.container-signup .show-password {
    right: 0;
}

.wrapper #content {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background: #fff;
    width: 100%;
    overflow-x: hidden;
}


/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #ccc;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.gray-title {
    color: #7b7474;
    font-size: 23px;
    letter-spacing: 0.2rem;
}


/** section abnnement **/

.abonnement-page .card {
    position: relative;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    transition: .5s;
}

.abonnement-page .card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.abonnement-page .col-sm-4:nth-child(1) .card,
.abonnement-page .col-sm-4:nth-child(1) .card .title .fa {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.abonnement-page .col-sm-4:nth-child(2) .card,
.abonnement-page .col-sm-4:nth-child(2) .card .title .fa,
.panier-page .card {
    background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.abonnement-page .card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
    transform: skewY(-5deg) scale(1.5);
}

.title .fa {
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
}

.price,
.option {
    position: relative;
    z-index: 2;
}

.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
}

.option ul {
    margin: 0;
    padding: 0;
}

.option ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
}

.option p {
    color: #fff;
}

.card a {
    position: relative;
    z-index: 2;
    background: #fff;
    color: black;
    font-weight: 500;
    width: 167px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.card a:hover {
    text-decoration: none;
}


/** abonnement-page **/

.switch-btn {
    border-radius: 50px;
    padding: 1px;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
}

.switch-btn .btn-toggle {
    background: #fff;
    padding: 3px;
    border-radius: 50px;
    min-width: 320px;
}

.switch-btn .btn-toggle button.active {
    color: #fff;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    border: none;
}

.switch-btn .btn-toggle .btn {
    border-radius: 50px;
    background: #fff;
    width: 49%;
    padding: 10px;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.student .sidebar {
    min-height: auto;
    webkit-box-shadow: 7px 0 11px -2px rgba(0, 0, 0, .175)!important;
    box-shadow: 7px 0 11px -2px rgba(0, 0, 0, .175)!important;
    z-index: 2;
}

.student #content {
    padding: 0;
}

.sidebar .nav-item.last .nav-link {
    border: none;
}

.wrapper.student {
    min-height: 100%;
    height: auto;
}

.student .full-card {
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
    background: #fff;
}

.student .form-control {
    color: #858796;
}

.student .input-border-bottom {
    border-color: #858796;
    padding-bottom: 3px;
}

.student .vich-image {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    width: 30px;
    height: 30px;
    border-radius: 60%;
    position: absolute;
    left: 55%;
    opacity: 0.7;
    border: 1px solid #fff;
}

.student #profile_imageFile_file {
    width: 15px;
    height: 20px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
    padding: 6px 0px;
    outline: none;
    cursor: pointer;
}

input#profile_imageFile_file:before {
    content: "\f303";
}

.student .rounded-circle {
    width: 100px;
    height: 100px;
}

.student .vich-image div,
.vich-image a {
    display: none;
}

.list-btn a {
    white-space: nowrap;
    padding: 8px;
}

.student .form-group i {
    position: absolute;
    top: 35%;
    left: 0px;
    font-size: 25px;
    color: #858796;
}

.student .form-group i.fa-instagram,
.student .form-group i.fa-twitter {
    left: -15px;
    top: 45%;
}

.student .form-group {
    padding-right: 30px;
}

.student form button {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    padding: 8px;
}

.student form .form-group:last-child {
    display: table;
}

.top-text h3 span {
    color: #5f3085;
    font-weight: 500;
}

.mode-pay ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.mode-pay ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mode-pay ul li {
    color: #AAAAAA;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #AAAAAA;
}

.mode-pay ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.mode-pay ul li label {
    display: block;
    position: relative;
    font-size: 1.55em;
    height: 30px;
    padding: 0px 7px;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.navbar-nav #userDropdown i {
    font-size: 30px;
    color: #cbcbca!important;
}

.new_mode a {
    color: #fff;
    padding: 5px 8px;
    width: 115px;
}

.exist-product .card {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.not-exist-product .card {
    background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.important ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.btn-group-lg>.btn,
.btn-lg {
    border-radius: 1.2rem;
}

.student .form-group .show-password i {
    font-size: 15px;
    left: -30px;
}

.student .form-group .show-password {
    top: 20%;
}

.login-form .birthday-input span {
    position: absolute;
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
}

.login-form .birthday-input select,
.birthday-input select {
    margin-right: 3px;
    color: #aba3a3;
    outline: none;
    border-radius: 0.45rem;
    padding: 3px 17px;
}

.birthday-input label {
    position: absolute;
    margin-top: 14px;
}

.general-data span {
    display: block;
}

.card-body .fa-folder-open {
    font-size: 90px;
}

.formation-name {
    font-size: 30px;
}

.general-data a {
    font-size: 20px;
}


/*** style radiobox **/

.dropdown-menu .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
    background: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    width: 21px;
    height: 21px;
    border: 8px solid #fff;
    left: -20px;
    top: 3px;
    border-radius: 50%;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
    background: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%); width: 21px;
    width: 19px;
    border: 6px solid #fff;
}

.custom-radio .custom-control-label::after {
    position: absolute;
    display: block;
    content: "";
    background-image: none;
    background: #fff;
    width: 19px;
    height: 19px;
    left: -19px;
    top: 5px;
    border-radius: 50%
}

.custom-radio .custom-control-label::before {
    background: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    border: #fafafa solid 2px;
}

.dropdown-menu .custom-control-label {
    padding: 7px 10px;
}

.user-profile .custom-radio .custom-control-label::before {
    border-color: #cccccc;
}

.user-profile .custom-radio .custom-control-input:not(:checked)~.custom-control-label::before {
    background: none;
}


/* Switch 3 Specific Style Start */

.custom-navbar .box_3 {
    background: url(../images/icons/bg_light.png);
    background-repeat: no-repeat;
    background-position: 8px 3px;
}

.custom-navbar .toggle_switch {
    width: 100px;
    height: 45px;
    position: relative;
}

.topbar .nav-item .nav-link {
    height: initial;
}

.custom-navbar input[type="checkbox"].switch_3 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: 0;
    z-index: 1;
}

.custom-navbar svg.checkbox .outer-ring {
    stroke-dasharray: 375;
    stroke-dashoffset: 375;
    -webkit-animation: resetRing .35s ease-in-out forwards;
    animation: resetRing .35s ease-in-out forwards;
}

.custom-navbar input[type="checkbox"].switch_3:checked+svg.checkbox .outer-ring {
    -webkit-animation: animateRing .35s ease-in-out forwards;
    animation: animateRing .35s ease-in-out forwards;
}

.custom-navbar input[type="checkbox"].switch_3:checked+svg.checkbox .is_checked {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
}

.custom-navbar input[type="checkbox"].switch_3:checked+svg.checkbox .is_unchecked {
    opacity: 0;
    -webkit-transform: translateX(-200%) rotate(180deg);
    transform: translateX(-200%) rotate(180deg);
}

.custom-navbar svg.checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-navbar svg.checkbox .is_checked {
    opacity: 1;
    fill: yellow;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(200%) rotate(45deg);
    transform: translateX(200%) rotate(45deg);
    -webkit-transition: all .35s;
    transition: all .35s;
}

.custom-navbar svg.checkbox .is_unchecked {
    opacity: 0;
    fill: #fff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-transition: all .35s;
    transition: all .35s;
}

@-webkit-keyframes animateRing {
    to {
        stroke-dashoffset: 0;
        stroke: #b0aa28;
        .box_3
    }
}

@keyframes animateRing {
    to {
        stroke-dashoffset: 0;
        stroke: #b0aa28;
    }
}

@-webkit-keyframes resetRing {
    to {
        stroke-dashoffset: 0;
        stroke: #233043;
    }
}

@keyframes resetRing {
    to {
        stroke-dashoffset: 0;
        stroke: #233043;
    }
}

.border-right-gray {
    border-right: 1px solid #cbcbca!important;
}

.user-profile .dropdown-menu {
    border: 1px solid #b8337a;
    padding-bottom: 0;
    margin-top: 25px;
}

.student .user-profile .form-control {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    padding: 3px 40px;
    color: #fff;
}

.student .user-profile .block-content span {
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 7px;
    display: block;
}

.user-profile .btn-help {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 0 0 .25rem 0.25rem;
}

.user-profile .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.show:before {
    content: "";
    position: absolute;
    right: 20px;
    top: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #fafafa transparent;
    z-index: 9999;
}

.user-profile .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.show:after {
    content: "";
    position: absolute;
    right: 18px;
    top: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #c81b3a transparent;
    z-index: 9998;
}

.bordered-table {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.important .col-xl-1 {
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
}

.important .col-xl-1 img {
    position: absolute;
    right: 4px;
}

.carte-icon {
    background: url(../images/icons/carte.png);
    background-repeat: no-repeat;
    width: 56px;
    height: 65px;
    position: absolute;
    display: block;
    top: 15px;
}

.modal .btn-secondary {
    background-color: #858796;
}

.modal .btn-primary {
    border-color: #fff;
    border-radius: 35px !important;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 15px 50px;
}

.small-content .formation-name {
    font-size: 14px;
}

.small-content .full-card {
    padding: 0px;
    max-width: 90%;
    padding-bottom: 1rem;
}

.small-content .full-card .list-btn-note {
    padding-bottom: 15px;
}

.small .btn-action {
    position: absolute;
    display: inline;
    top: -15px;
    left: 144px;
}

.small .btn-action .btn-link:nth-child(2) {
    padding: 0;
    margin-left: -15px;
    margin-top: -5px;
}


/** set sidebar icons **/

.sidebar-student .nav-item:before {
    width: 30px;
    height: 30px;
    content: "";
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    left: 26px;
    top: 10px;
}

.sidebar-student .dashboard:before {
    background-image: url(../images/icons/dashboard.png);
}

.sidebar-student .formation:before {
    background-image: url(../images/icons/formation.png);
}

.sidebar-student .video:before {
    background-image: url(../images/icons/video.png);
}

.sidebar-student .messagerie:before {
    background-image: url(../images/icons/messagerie.png);
}

.sidebar-student .forum:before {
    background-image: url(../images/icons/foum.png);
}

.sidebar-student .calender:before {
    background-image: url(../images/icons/calender.png);
}

.sidebar-student .stat:before {
    background-image: url(../images/icons/stat.png);
}

.sidebar-student .note:before {
    background-image: url(../images/icons/note.png);
}

.sidebar-student .user-profile:before {
    background-image: url(../images/icons/profile.png);
}

.sidebar-student .users:before {
   
}
.sidebar-student .typeuser:before {
    background-image: url(../images/icons/typeuser.gif);
}
.sidebar-student .members:before {
    background-image: url(../images/icons/members.gif);
}
.sidebar-student .codeinvitation:before {
    background-image: url(../images/icons/codeinvitation.gif);
}
.sidebar-student .userclass:before {
    background-image: url(../images/icons/userclass.gif);
}

.sidebar-student .user-profile.active:before {
    background-image: url(../images/icons/profile-active.png) !important;
}

.sidebar-student .dashboard.active:before {
    background-image: url(../images/icons/dashboard-active.png) !important;
}

.sidebar-student .video.active:before {
    background-image: url(../images/icons/video-active.png) !important;
}

.sidebar-student .note.active:before {
    background-image: url(../images/icons/note-active.png) !important;
}

.sidebar-student .calender.active:before {
    background-image: url(../images/icons/calender-active.png) !important;
}

.sidebar .nav-item.active .nav-link {
    font-weight: 500;
}

.sidebar.toggled .nav-item .nav-link span {
    display: none;
}

.sidebar.toggled.sidebar-student .nav-item:before {
    top: 0px;
    left: 40px;
}


/** dashboard style**/

.a-section:last-child {
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.link-normal {
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 20px;
    display: block;
    opacity:0.8;
}

.a-unordered-list.a-horizontal {
    display: block;
    margin-left: 0;
    color: #111;
    padding: 0;
    margin: 0 0 0 18px;
}

.octopus-pc-category-card-v2-item {
    width: 33.33% !important;
    border-right-width: 2px;
    display: inline-block;
    list-style: none;
    word-wrap: break-word;
    min-width: 198px;
    height: 320px;
    float: left;
    text-align: center;
    margin: 0 !important;
    overflow: hidden;
    cursor: pointer;
}

.a-unordered-list .a-list-item {
    color: #111;
    text-align: center;
}

.octopus-pc-category-card-v2-category {
    position: relative;
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    transform-origin: top;
    margin-top: 5px;
}

.octopus-pc-category-card-v2-shield {
    margin: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.octopus-pc-category-card-v2-image {
    margin: 65px auto;
}

.a-declarative.hover .octopus-pc-category-card-v2-category {
    transform: translateZ(0px) scale(0.5) !important;
}

.a-declarative.hover .octopus-pc-category-card-v2-category-title {
    transform: translateY(-90px) translateZ(0px) !important;
}

.a-declarative.hover .octopus-pc-category-card-v2-subcategory {
    transform: translateY(-98px) translateZ(0px) !important;
    transition: all 0.5s ease;
}

.a-declarative.hover .octopus-pc-category-card-v2-subcategory {
    text-align: left;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #E3E7E7;
    padding-top: 11px;
    margin-top: 11px;
}

.a-declarative.hover .a-section:last-child {
    margin-top: 0;
    margin-bottom: 10px;
}

.a-declarative.hover .link-normal {
    margin-top: 0;
    margin-bottom: 10px;
}
.link-normal:hover {
  opacity: 1;
  font-weight: 500;
  color: #8c2a86;
}
.octopus-pc-category-card-v2-category-title span {
    text-transform: uppercase;
    font-size: 23px;
    color: #888484;
}

.a-declarative.hover .octopus-pc-category-card-v2-item {
    height: auto;
}
/** progress bar **/

.canvas-holder {
    position: relative;
    width: 100px;
}

#canvas-data,
#canvas-data2,
#canvas-data3,
#canvas-data4 {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 20px;
    line-height: 100px;
}

.formation-stat .full-card {
    max-width: 19%;
    padding: 6px 20px;
    width: 19%;
}

.formation-stat .full-card h6 {
    font-size: 0.8rem;
}

.formation-stat .full-card h3 {
    color: #602c85;
}

.formation-student .progress-outer {
    background: #fff;
    padding: 5px 60px 5px 5px;
    position: relative;
}

.formation-student .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: .75rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #eaecf4;
    border-radius: .35rem;
}

.formation-student .progress .progress-value {
    font-size: 12px;
    color: #6b7880;
    position: absolute;
    top: -2px;
    right: 10px;
}

.formation-student .progress-bar {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #4e73df;
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

.list-formations .card {
    border-radius: .85rem;
}

.list-formations .card a {
    margin: 0;
    color: #6e707e;
    width: initial;
    display: initial;
    background: transparent;
    box-shadow: none;
    line-height: 0;
    font-weight: normal;
}

.list-formations .card-body {
    padding: 0.85rem 0.95rem;
}

.list-formations .card .heart {
    position: absolute;
    color: #fff;
    left: 4%;
    top: 4%;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    background-image: url(../images/icons/herat-empty.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.list-formations .card .heart.full-heart {
    background-image: url(../images/icons/herat-full.png);
}

.list-formations .card .trophy {
    position: absolute;
    right: 8%;
    color: #fff;
    top: 8%;
    font-size: 30px;
    z-index: 1;
    background-image: url(../images/icons/trophy.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.list-formations .card .trophy sup,
.list-formations .card .custom-badge sup {
    left: 33px;
    top: -27px;
    font-style: initial;
    font-size: 17px;
    font-weight: 500;
}

.list-formations .card .custom-badge {
    position: absolute;
    right: 8%;
    color: #fff;
    top: 28%;
    font-size: 30px;
    z-index: 1;
    background-image: url(../images/icons/badge.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.list-formations .card .card-title {
    font-size: 1rem;
}

.list-formations .finish-bg {
    position: absolute;
    top: -11px;
    width: 101%;
    left: -1px;
}

.list-formations .card-img-top {
    border-top-left-radius: calc(.85rem - 1px);
    border-top-right-radius: calc(.85rem - 1px);
}

.list-formations .fa-lock {
    left: 38%;
    position: absolute;
    top: 18%;
    z-index: 1;
    font-size: 60px;
    color: #fff;
}

.list-formations .img-container {
    background-color: #000000;
}

.list-formations .img-container img {
    opacity: 0.5;
}

.formation-student select,
.round-select {
    padding: 7px 66px;
    ;
    border-radius: 10rem;
    color: #6e707e;
    outline: none;
    border: 1px solid #ebedf2;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.my-planing .col-10 span {
    position: absolute;
    top: 5px;
}

select#status,
select.round-select {
    background-image: url(../images/icons/status.png);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 24px;
}

select#categories {
    background-image: url(../images/icons/arrow-buttom.png);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: calc(100% - 15px);
}

.formation-student select:focus {
    border-radius: 10px 10px 0 0;
    outline: none;
}

.formation-image {
    background-color: #c1c1c147;
    margin: 14px -35px 0px -70px;
}

.formation-student .next img {
    position: absolute;
    top: 30%;
    right: 60px;
}

.formation-student .form-name h3 {
    position: absolute;
    top: 40%;
    left: 60px;
}

.formation-student .show-formation ul {
    list-style: none;
    padding: 0px;
}

.student .full-card.show-formation {
    padding: 0px;
}

.formation-student .show-formation ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.formation-student .show-formation ul li:last-child {
    border: none;
}

.formation-student .show-formation ul li span {
    padding-left: 24px;
    font-size: 18px;
}

.formation-student .show-formation ul li a img {
    float: right;
    width: 20px;
}

.details-formations a[data-toggle=collapse]::after {
    position: absolute;
    right: 19px;
    top: 10px;
    padding-right: 1.725rem;
    content: "";
    background-image: url(../images/icons/arrow-buttom.png);
    height: 25px;
}

.details-formations a img {
    position: absolute;
    right: 65px;
    top: 10px;
}

.details-formations .events {
    padding: .75rem 1.25rem;
}

.details-formations .events li {
    display: flex;
}

.details-formations .events .element {
    padding: 0 0 1.5em 0;
    position: relative;
    border-left: 1px #ccc solid;
}

.details-formations .events strong {
    display: block;
    font-weight: bolder;
}

.details-formations .events .custom-control-inline {
    padding-left: 12px;
}

.details-formations .events .row {
    width: 100%;
}

.details-formations .events,
.details-formations .events *::before,
.details-formations .events *::after {
    box-sizing: border-box;
    font-family: arial;
}

.details-formations .custom-control {
    padding-left: 0.7rem;
}

.details-formations li .row small {
    font-size: 9px;
    letter-spacing: 0.1rem;
}

.details-formations li .row .passed-time {
    color: #9d2b87;
    font-size: 15px;
    text-align: center;
}

.separed-element span {
    display: block;
}

.hidden {
    display: none;
}

.tab-formations .full-card {
    width: 100%;
}

.tab-formations .full-card table thead th {
    /*white-space:nowrap;  */
    font-weight: 400;
}

.tab-formations .full-card .date-passed {
    white-space: nowrap;
}

.details-formations .custom-radio .custom-control-label::after {
    width: 20px;
    height: 20px;
}

.custom-radio .custom-control-label::before {
    width: 28px;
    height: 28px;
}

.details-formations .active-cursus .custom-radio .custom-control-label::after {
    width: 22px;
    height: 22px;
    background: url(../images/icons/video-active.png);
    background-size: 20px;
    background-repeat: no-repeat;
    border: 1px solid #a52b87;
    left: -21px;
    background-position-y: 0px;
    background-position-x: 1px;
    background-color: #fff;
    top: 3px;
}

.details-formations .block-cursus .custom-radio .custom-control-label::after {
    width: 22px;
    height: 22px;
    border: 1px solid #a52b87;
    left: -21px;
    content: "\f023";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
    padding-left: 5px;
    padding-top: 1px;
    top: 3px;
}

.details-formations .element img {
    position: absolute;
    left: -15px;
    top: -2px;
    width: 30px;
    background: #fff;
}

.details-formations .element h5 {
    margin-left: 30px;
}

.formation-student .show-formation ul li a.cour img {
    transform: rotate(90deg);
}

.formation-student .show-formation ul li a.cour.collapsed img {
    transform: initial;
}

.formation-student .show-formation ul li .collapse ul li {
    border: none;
    padding: 5px;
}

.formation-student .show-formation ul li a>span {
    padding: 0;
    font-size: 15px;
}

.formation-student .show-formation ul li>img {
    padding-left: 30px;
    margin-top: -4px;
    width: 55px;
}

.formation-student .show-formation ul li .collapse ul li img {
    float: right;
    margin-right: -7px;
}

.course-header {
    background-image: url(../images/icons/hezder-cour.png);
}

.library-content .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9.33333%;
    flex: 0 0 9.33333%;
    max-width: 9.33333%;
}

.library-content .col-1 .formation-name .nb-doc {
    display: block;
}


/** slider **/

.listfolder {
    padding: 10px 35px;
    margin-left: 6%;
}
.listfolder .carousel-item {
    width: auto;
}
.listfolder .carousel-item-next,
.listfolder .carousel-item-prev,
.listfolder .carousel-item.active {
    display: flex;
}

.listfolder .controls-top .btn-floating {
    position: absolute;
    top: 37%;
    font-size: 27px;
}

.listfolder .full-card.active,
.listfolder .full-card.hover {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d22228 100%);
}

.listfolder .full-card.active .formation-name,
.listfolder .full-card.hover .formation-name {
    color: #fff;
}

.listfolder .controls-top .btn-floating.controle-left {
    left: -30px;
}

.listfolder .controls-top .btn-floating.controle-right {
    right: -30px;
}

.nb-doc {
    display: block;
}

.current-folder  {
    width: 100%;
}
.listfolder .full-card.hover .current-folder, .listfolder .full-card.active .current-folder {
    width: 80%;
}
.folder-actions {
    opacity: 0;
}

.listfolder .full-card.hover .folder-actions, .listfolder .full-card.active .folder-actions  {
    opacity: 1;
    width: 20%
}


/** end slider **/


/** dropzone **/

.cutsom-dropzone .dropzone {
    border: 2px dashed rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-right: 40px
}

.cutsom-dropzone .dropzone span {
    display: block;
}

.cutsom-dropzone .dropzone .btn {
    border-radius: 35px;
    padding: 5px;
    margin: 0 auto;
    display: block;
}

.cutsom-dropzone .dropzone.dz-started .dz-message {
    display: initial;
}


/** end dropzone **/

#file-view .card {
    width: 150px;
}

#file-view .card-body {
    text-align: center;
    font-size: 10px;
}

#file-view .card-title {
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    word-wrap: break-word;
}

#file-view .card-text {
    color: #000;
    font-weight: 500;
    white-space: nowrap;
}

#file-view .full-card {
    margin: initial;
    padding: 0;
    position: relative;
    cursor: pointer;
    max-width: 120px;
    border: none;
}

#file-view .full-card .top-text {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-grid;
    opacity: 0;
}

#file-view .full-card .custom-checkbox {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
}

#file-view .main .card-img-top {
    border-radius: 15px;
    width: 120px;
    height: auto !important;
}

#file-view .main:hover>.card-img-top {
    height: initial;
    border-radius: 15px;
}

#file-view .main:hover>.sub,
#file-view .main.active .sub {
    visibility: visible;
    opacity: 1;
    padding: 7px 3px;
    animation: sudo .85s linear infinite alternate;
    position: absolute;
    top: 61%;
    background: #fff;
    height: auto;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    z-index: 99;
}

#file-view .main:hover>.top-text,
#file-view .main:hover>.custom-checkbox {
    opacity: 1;
}

#file-view .card-body.sub {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 0;
}

#file-view .full-card.active .top-text,
#file-view .full-card.active .custom-checkbox,
#file-view .active .card-body.sub,
#file-view .hover .card-body.sub {
    opacity: 1;
}

#file-view .active .card-body.sub,
#file-view .hover .card-body.sub {
    visibility: visible;
    padding: 7px 12px;
    animation: sudo .85s linear infinite alternate;
}

#file-view .active .card-img-top,
#file-view .hover .card-img-top {
    height: initial;
    border-radius: 15px 15px 0px 0px;
    opacity: 0.4;
}

#file-view .active,
#file-view .hover {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
}

#affect-file-folder .custom-dropdown,
.sidebar-dropdown {
    position: relative;
    margin-bottom: 20px;
}

#affect-file-folder .custom-dropdown .dropdown-list,
 .sidebar-dropdown .dropdown-list {
    padding: 5px 20px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 223px;
    overflow-y: auto;
    background: #fff;
    display: none;
    z-index: 10;
}

#affect-file-folder .custom-dropdown .checkbox,
 .sidebar-dropdown .checkbox {
    opacity: 0;
    transition: opacity 0.2s;
}

#affect-file-folder .custom-dropdown .dropdown-label,
.update-imageInfo .sidebar-dropdown .dropdown-label {
    display: block;
    height: 44px;
    font-size: 16px;
    line-height: 42px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 40px 0 20px;
    cursor: pointer;
    position: relative;
}

#affect-file-folder .custom-dropdown .dropdown-label:before,
 .sidebar-dropdown .dropdown-label:before {
    content: url(../images/icons/arrow_gray.png);
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    transition: transform 0.25s;
    transform-origin: center center;
}

#affect-file-folder .custom-dropdown.open .dropdown-list,
 .sidebar-dropdown.open .dropdown-list {
    display: block;
}

#affect-file-folder .custom-dropdown.open .checkbox,
.sidebar-dropdown.open .checkbox {
    transition: 2s opacity 2s;
    opacity: 1;
}

#affect-file-folder .custom-dropdown.open .dropdown-label:before,
.sidebar-dropdown.open .dropdown-label:before {
    transform: translateY(-50%) rotate(-180deg);
}

#carousel-folder .carousel-item .full-card {
    cursor: pointer;
    max-height: 100px;
}

.small-content #carousel-folder .full-card .list-btn-note {
    padding-bottom: 0;
    padding-right: 9px;
}


/** sidebar right **/

.update-imageInfo.toggled {
    margin-right: 350px;
}

.update-imageInfo #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    top: 70px;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.update-imageInfo.toggled #sidebar-wrapper {
    border-left: 1px solid #ccc;
    padding: 10px 20px;
}

.update-imageInfo.toggled #sidebar-wrapper {
    width: 350px;
}

.update-imageInfo #sidebar-wrapper img {}

.update-imageInfo #sidebar-wrapper ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.update-imageInfo #sidebar-wrapper ul li {
    font-size: 13px;
    padding-bottom: 5px;
}

.update-imageInfo .img-sidebar {
    height: 150px;
    background-color: #c1c1c147;
    text-align: center;
}

.row-action .filter select {
    color: #000;
    font-size: 12px;
    padding-right: 4px;
    text-transform: uppercase;
    width: auto;
    background-position-y: 1px;
    background-position-x: 12px;
    padding-left: 50px;
    border: 1px solid #ccc;
}

.action-links {
    padding: 0;
    margin-top: -10px;
}

.action-links img {
    width: 60px
}

.row-action label {
    white-space: nowrap;
}

select.form-control.round-select * {
    text-transform: uppercase;
}

#sidebarToggleTop i {
    color: #aa2b87;
    font-size: 30px;
}

.filter {
    display: inline-block;
    padding-top: 4px;
}

.sidebar.toggled .nav-item .nav-link {
    padding: 1rem;
}

#page-content-wrapper {
    width: 100%;
}
.fa-sign-out-alt {
    font-size: 30px;
}
 .card table a {
    box-shadow: none;
    display: initial;
    color: #4b2b72;
}
.card table tr td {
    padding: .25rem;
    vertical-align: middle;
}
/** responsive **/

@media (max-width:1199.98px) {
    .action-links img {
        width: 40px
    }
    .octopus-pc-category-card-v2-item {
        width: 50% !important;
    }
}

@media (max-width:768px) {
    .octopus-pc-category-card-v2-item {
        width: 100% !important;
    }
    .sidebar {
        width: 9.5rem;
    }
}

.small-select {
    font-size: 12px;
}
#dataTable_filter {
    float: right;
}
.dataTables_paginate {
    text-align: center;
}
.card .dataTables_paginate  a {
    display: initial;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    background: #4b2b72;
    color: #fff;
    box-shadow: none;
}

/** css wizard evaluation **/

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #fff;
}

.wizard > div.wizard-inner {
    position: relative;
}

span.round-tab,.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: -35px;
}

.wizard li a.active span.round-tab,span.round-tab:hover {
    background: #4b2b72;
    color: #fff;   
}
.wizard li a.active {
    background: #4b2b72;
    color: #fff;   
}
.wizard .nav-tabs > li {
    width: 16.66%;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard h3 {
    margin-top: 0;
    color: #4b2b72;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    margin-bottom: 35px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.card-full .card-header[data-toggle=collapse]::after {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1.725rem;
    line-height: 51px;
    font-weight: 900;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: #d1d3e2;
}
.card-full .card-header[data-toggle=collapse].collapsed::after {
    content: '\f105';
}

/** create a custom radio button

/* Create a custom radio button */

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #616161;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #4b2b72;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #4b2b72;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.update-status .fa-thumbs-down {
    color: red;
}
.update-status .fa-check {
    color: green;
}
.staisfactions .niveau {
    padding: 10px 0px 2px 15px;
}
.staisfactions .niveau h6 {
    color: #fff;
    margin: 0;
}
.staisfactions .niveau p {
    font-size: 13px;
    color: #fff;
    line-height: 13px;
    font-weight: 500;
}
.staisfactions .niv1 {
    background: #CA6F1E;
}
.staisfactions .niv2 {
    background: #F8C471;
}
.staisfactions .niv3 {
    background: #52BE80;
}
.staisfactions .niv4 {
    background: #548235;
}
.highcharts-credits {
    display: none;
}
.situations .highcharts-container  {
    height: 350px !important;
}
.situations h6 {
    font-weight: 500;
    color: #4e73df!important;
}
.active-periode {
    background: #4a297e2e;
}
.active-periode td a {
    background-color: transparent;
}

/*** style chart **/
.highcharts-point {
    stroke: white;
}

.highcharts-graph.zone-0 {
    stroke: #CA6F1E;
}
.highcharts-area.zone-0 {
    fill: #CA6F1E;
}
.highcharts-point.zone-0 {
    fill: #CA6F1E;
}
.highcharts-graph.zone-1 {
    stroke: #F8C471 ;
}
.highcharts-area.zone-1 {
    fill: #F8C471 ;
}
.highcharts-point.zone-1 {
    fill: #F8C471 ;
}
.highcharts-graph.zone-2 {
    stroke: #52BE80;
}
.highcharts-area.zone-2 {
    fill: #52BE80;
}
.highcharts-point.zone-2 {
    fill: #52BE80;
}
.highcharts-graph.zone-3 {
    stroke: #1D8348;
}
.highcharts-area.zone-3 {
    fill: #1D8348;
}
.highcharts-point.zone-3 {
    fill: #1D8348;
}
.lds-svg {
    width: 78px;
    margin: auto;
    margin-top: 18%;
}
.highcharts-data-label {
    opacity: 1 !important;
}