body {
	/*font-family: 'Cabin', sans-serif !important;*/
	font-family: "Open Sans" !important;
	font-weight: 400;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans" !important;
}

.header-login {
	/*border-top: 9px solid #ec7703;*/
	/* border-top: 9px solid rgb(38, 96, 133);  */
	padding: 24px 0px;
	background: url('../images/fond_ecran.jpg') no-repeat no-repeat;
	height: 100vh;
	background-size: cover;
	background-position-y: -22px;

}
h2 strong {
	text-transform: uppercase;
}

.padQ {
	padding-top: 20px;
}

.bloc-login {
	/*border: 3px solid #ec7703;
    background: #f7f4ed;*/
	*background-color: transparent;
	padding: 0;
	width: 470px;
	margin: 0 auto;
	border-radius: 5px;
}

.bloc-login h2 {
	color: #ffffff;
	font-size: 24px;
	background: rgba(151, 10, 44);
	text-align: center;
	letter-spacing: 2px;
	padding: 15px;
	margin-bottom: 50px;
}

#submit-login {
	float: right;
	background: #67AA87;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 5px;
	border-radius: 2px;
	font-size: 19px;
	line-height: normal;
}

#submit-login:hover {
	background: transparent;
	color: #67AA87;
	border: 1px solid #67AA87;
}

#login {
	padding: 0px 40px;
}

#submit-group {
	overflow: hidden;
}

#login label {
	font-size: 16px;
	color: #060606;
	float: left;
}

#login input {
	width: 270px;
	background-color: transparent;
	border-top: 1px solid #BFBFBF;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF;
	height: 28px;
	float: right;
	padding-left: 30px;
	border-radius: 0px;
}

#user {
	*background-image: url(../images/icon-user.png);
	background-repeat: no-repeat;
	background-position: left;
}

#password {
	*background-image: url(../images/icon-password.png);
	background-repeat: no-repeat;
	background-position: left;
}

#user:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	background-color: inherit !important;
	background-image: inherit !important;
	color: rgb(0, 0, 0) !important;
}

#login .form-group {
	width: 100%;
	display: block;
	overflow: hidden;
	margin-bottom: 0px;
}

#login #password-group {
	margin-bottom: 0px;
}

.forgot-password {
	font-size: 14px;
	color: #ec7703;
	width: 270px;
	float: right;
}

.forgot-password:hover {
	color: #023577;
	text-decoration: none;
}

section.login {
	height: calc(100vh - 230px);
	background-size: cover;
	background-position: top;
}

.masQ {
	text-transform: uppercase !important;
	color: #4A87A6 !important;
	font-family: 'Open Sans Extrabold', arial !important;
}

.vertical-middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.title-login {
	font-size: 36px;
	font-weight: 700;
	color: #ec7703;
	margin: 0 auto;
	margin-top: 100px;
}

.desc-login p {
	font-size: 18px;
	color: #060606;
	text-align: justify;
	margin-top: 30px;
	line-height: normal;
	margin-bottom: 75px;
}

footer {
	/*border-bottom: 9px solid #ec7703;*/
	background-color: rgb(38, 96, 133);
	padding: 5px 0px;
	padding-right: 24px;
	margin-top: -7px;
	position: fixed;
    bottom: 0px;
    width: 100%;
}

.border-red {
	border-color: red !important;
}

.border-green {
	border-color: green !important;
}

.color-red {
	color: red !important;
	overflow: hidden;
	width: 100%;
	text-align: right;
	font-size: 14px;
}

@media screen and (max-width: 640px) {
	.bloc-login {
		width: 100%;
	}

	#login label {
		float: none;
		width: 100%;
	}

	#login input {
		float: none;
		width: 100%;
	}

	.forgot-password {
		width: 100%;
		text-align: right;
	}

	.bloc-login h2 {
		margin-bottom: 20px;
	}

	#submit-group {
		margin-top: 40px;
	}

	.title-login {
		margin-top: 30px;
	}

	.desc-login p {
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.sousMenu {
	float: right;
	margin-bottom: 5px;
	background-color: #01337c;
	border: none;
	padding: 6px 2%;
	color: #fff;
	font-size: 16px;
	text-transform: initial;
}

.submit {
	float: right;
	margin-bottom: 15px;
	background-color: #67AA87;
	border: none;
	padding: 6px 2%;
	color: #fff;
	font-size: 16px;
	text-transform: initial;
}

.submit:hover {
	background-color: #67AA87;
	color: #fff;
}

.family {
	background-color: rgb(38, 96, 133);
	border: none;
	/*padding: 25px 44%;*/
	padding: 12px 132px;
	/* width: 338px; */
	color: #fff;
	font-size: 17px;
	text-transform: initial;
}

.liste {
	display: inline-block;
	/* width: 338px; */
	width: 100%;
	height: auto;
	/* padding: 15px; */
	/*border: 3px solid #ec7703; */
	/* background-color: rgb(224, 221, 222) */
}

.number {
	width: 33px;
}

.determinant {
	display: inline-block;
}

.tabelDrop {
	/* background-color: #fff;*/
	padding-left: 0px;
	/* background-color: rgb(224, 221, 222); */
	position: relative;
}

.tabelDropLeft {
	/* background-color: #fff;*/
	/* background-color: rgb(224, 221, 222); */
	margin-left: 20px;
	padding-right: 0px;
	padding-left: 1px;
}

.title {
	Font-Weight: Bold;
	color: rgb(236, 102, 8);
}

.titleDeterminant {
	Font-Weight: Bold;
	color: rgb(243, 242, 241);
}

.head-deter {
	background-color: rgb(38, 96, 133) !important;
	padding: 6px;
	text-align: center;
}

.fa-titre {
	color: rgb(225, 218, 213) !important;
}

.nameFamily {
	background-color: rgb(38, 96, 133);
	border: none;
	/* width: 338px; */
	padding: 10px 15%;
	color: #fff;
	font-size: 16px;
	text-transform: initial;
}

.fa-deter {
	color: black;
}

.table td,
.table th {
	border-top-color: silver;
}

.table {
	margin-bottom: 0px;
}

.family-card {
	height: 100%;
}

.det.active {
	border: 1px solid white;
}
.dwd-fancyline {
	width: 40px;
    display: inline-block;
    margin: 20px 0;
    border-top-style: solid;
    border-color: #4a87a6;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: none !important;
}
table {
	border: 1px solid #bfbfbf;
}
table thead th {
background: #bfbfbf;
}
.units table {
	border: none;
}