header .navbar {
	background-color: #f2ede1 !important;
}

header .navbar ul a {
	color: #060606 !important;
	font-size: 16px;
}

.users:before {
	content: url("../images/icon-user.png");
	vertical-align: -25%;
	padding-right: 5px;
}

.users_top:before {
	content: url("../images/icon-user2.png");
	vertical-align: -25%;
	padding-right: 5px;
}

.dashboard:before {
	content: url("../images/dashboard.png");
	vertical-align: -25%;
	padding-right: 5px;
}

.importance:before {
	content: url("../images/icon-1.png");
	vertical-align: -25%;
	padding-right: 5px;
}

.donnees:before {
	content: url("../images/icon-2.png");
	vertical-align: -14%;
	padding-right: 5px;
}

.resultat:before {
	content: url("../images/icon-3.png");
	vertical-align: -14%;
	padding-right: 5px;
}

.boite:before {
	content: url("../images/icon-4.png");
	vertical-align: -14%;
	padding-right: 5px;
}

.licence:before {
	content: url("../images/icon-l.png");
	vertical-align: -35%;
	padding-right: 5px;
}

/*.users:before{
    content: url("../images/icon-6.png");
    vertical-align: -35%;
    padding-right: 5px;
}*/
.perimetre:before {
	content: url("../images/icon-p.png");
	vertical-align: -35%;
	padding-right: 5px;
}

.logout:before {
	content: url("../images/logout.png");
	vertical-align: -35%;
	padding-right: 5px;
}

#top-bar {
	background-color: rgb(38, 96, 133) !important;
}

#top-bar ul li a {
	color: #ffffff !important;
}

.active {
	border: 2px;
	border-color: rgba(251, 186, 0);
	border-style: solid;
}

.fas {
	color: #67AA87;
}








/********* STAGED BY MABO *********/

header {
	padding: 12px !important;
}

.navigation-nav-right {
	float: right;
}

.navigation-nav-right a img {
	height: 30px;
	padding: 12px;
	box-sizing: content-box;
}
.navigation-nav-right a {
	text-decoration: none;
}

.content {
	display: inline-table;
	height: 100%;
	width: 100%;
}

.sidebar {
	position: fixed;
    height: 100vh;
    left: 0;
    width: 68px;
    z-index: 10000;
    background: #4A87A6;
  
}

.sidebar ul {
	list-style-type: none;
	padding: 0px;
}

.sidebar ul li {
	/*opacity: 0.5;*/
}

.sidebar ul li.active {
	background: white !important;
	opacity: 1 !important;
}

.sidebar ul li.active img {
	filter: invert(100%);
}

.sidebar ul li a img {
	width: 30px;
	margin: 17px;
}

.sidebar ul li:hover {
	opacity: 1;
}

.sidebar ul li.active {
	opacity: 1;
	background: #222;
	border: none;
}

.card {
	margin-bottom: 20px;
}

.center {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-55%, 19%);
}

.description {
	font-size: 20px;
	font-weight: 700;
}

.title-dashboard {
	color: #5E7178;
	margin-top: 15px;
	margin-bottom: 48px;
}
.display-1 {
	font-size: 5rem;
}
.container-fluid-fluid.center {
	height: 45%;
}
.container-fluid-fluid .row, .container-fluid .row {
	margin: 0px;
	width: 100%;
}
/*** perimeter **/

.perimeter-header {
	margin-top: 20px;
    background: #bfbfbf;
    
}
.perimeter-header .col-md-4 {
	padding: 10px;
	border-left: 1px solid #ccc;
}
.perimeter-header .col-md-4:first-child {
	border: none;
}
.perimeter-header .col-md-4 a {
	float: right;
}
.perimeter-header .col-md-4 a .fa-plus{
	color: #67AA87;
}
.perimeter-header .col-md-4 span {
	font-weight: bold;
	font-size: 20px;
	color: #000000b3;
}

.perimeter {
	margin-bottom: 20px !important;
}
.perimeter .pole {
    border-bottom: 1px solid #ccc;
}
.perimeter .pole:last-child  {
	border: none;
}
.perimeter .pole .col-md-4 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #ccc;
}
.perimeter .pole .list-etap {
	border-left: 1px solid #ccc;
	padding: 0px;
}
.perimeter .pole .etab {
    border-bottom: 1px solid #ccc;
}
.perimeter .pole .etab:last-child {
    border: none;
}
.etab .col-md-6 {
    border-right: 1px solid #ccc;
}

.etab .units  {
	padding: 0px
}
.etab .units table {
	width: 100%
}
.etab .units table tr {
	border-bottom: 1px solid #ccc;
}
.etab .units table tr:last-child {
 border: none;
}
.etab .units table tr span {
	padding: 10px;
}
.etab .units table a {
	 padding-right: 10px;
} 
.perimeter span {
    padding: 12px 0px;
    display: block;
    font-size: 20px;
    float: left;
}
.perimeter a {
	float: right;
}
.perimeter a .fa-pencil-alt {
color: #67AA87;
}
.pole_title {
	background-color: rgba(151, 10, 44) !important;
	border-radius:  8px;
	padding: 6px 2%;
	color: #fff;
	font-size: 16px;
	text-transform: initial;		
}
.container-fluid form  .row  {
	margin-bottom: 10px;
}
.table-family {
	margin-bottom: 30px !important;
}
.table-family tr:first-child {
	    display: flex;
}
.table-family tr:first-child td:first-child, .table-family tr:first-child td:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.table-family tr td {
	padding: 0px;
}
.table-family hr {
	margin: 0px;
}
.table.perimeter-header tr td:nth-child(2), .table.perimeter-header tr td:nth-child(4) {
    background: #5d5b5b;
    text-align: center;
}
.table.perimeter-header tr td .fa-plus {
	color: #fff;
}
.table-family .fa-pencil-alt , .table-family .fa-trash{
	color: #5d5b5b;
}
.table-family tr td:last-child a {
	float: right;
    margin-right: 19px;
}
.top-ligne td{
    padding: 8px 10px;
}
.top-ligne td span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.indicator-page table thead {
	display: none;
}
.indicator-page table:first-child thead {
    display: contents;
}
.indicator-page table:first-child thead  tr {
    background: #a2a2a2;
}
.detail-indicator td:first-child {
	white-space: nowrap;
}
.detail-indicator td input {
    width: 70px;
}
.moy td {
    border: none;
    border-bottom: 1px solid #dee2e6;
}
.moy td:last-child {
    border: 1px solid #dee2e6;
}
.indice {
    text-align: center;
    font-weight: bold;
}
.indice.indice_1 {
	color: #fff;
	background: #67AA87;
}
.indice.indice_2 {
	color: #fff;
	background: #bfd228;
}
.indice.indice_3 {
	color: #fff;
	background: #aa7367;
}
.indice.indice_4 {
	color: #fff;
	background: #696564;
}
.result-page ul li {
	list-style: none;
}
.result-page ul li a {
    color: #443e3e;
    font-size: 21px;
    font-weight: bold;
}